# --- Supabase (client app) ---
# URL publique du projet (Project URL)
NEXT_PUBLIC_SUPABASE_URL="https://XXXXXXXXXXXX.supabase.co"

#  Publishable key
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# --- Supabase (serveur / backend / scripts) ---
# Secret key
SUPABASE_SERVICE_ROLE_KEY=""

# (Optionnel) Nom du schéma, si tu veux le rendre configurable
SUPABASE_SCHEMA="public"

# --- Mapbox (frontend map test) ---
# Public token for client-side map rendering
NEXT_PUBLIC_MAPBOX_TOKEN=""

